* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ffffff, #ffc0cb); /* Gradien dari putih ke pink */
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
    flex: 1; /* Membuat container mengisi tinggi yang tersisa */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo h1 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    padding: 60px 0;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 36px;
    color: #b56576;
    margin-bottom: 10px;
}

.team {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.feature {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.feature img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 14px;
    color: #333;
}

.question {
    font-size: 24px;
    color: #e63946;
    margin-bottom: 10px;
}

.question-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center; /* Center align the buttons */
    width: 100%; /* Ensure options div has full width */
}

.option {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.setuju {
    width: 300px; /* Set specific width for "Setuju" button */
}

.tidak-setuju {
    width: 300px; /* Set specific width for "Tidak Setuju" button */
}

.option:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
